<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="lecture8" value="DefaultEndpointsProtocol=https;AccountName=lecture8;AccountKey=QKadstte2mbqhkbKcHWHc3LmxGvEsoMnXMeR7VxssEyF1zrpqR8MNk6W8YxQF1DFQmGMTjnrx3kSntGAdIm0Tw=="/>
  </appSettings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>